
<div class="message-box">
  <%= cl_image_tag current_user.photo, class: "avatar-small" %>
  <div class="message-body">
    <p> <strong><%= message.content %></strong></p>
    <p> Envoyé par <%= message.booking.user.name %> le <%= message.updated_at %></p>
  </div>
</div>



