.banner {
  color: white;
  text-align: center;
  height: calc(100vh - 70px);
  background-position: center;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content h1 {
  margin-bottom: 50px;
}
