// Import page-specific CSS files here.
@import "home";
@import "show";
@import "new";

.show-content {
  display: flex;
  justify-content: space-between;
}

.right-side-map {
  width: 100%;
  height: calc(100vh - 70px)
}
