.recap {
  display: flex;
  flex-direction: column;
  border: 1px solid #e4e4e4;
  padding: 20px;
  border-opacity: .1;
  background-color: white;
  border-radius: 2%;
  margin-top: 0px;
}

.recap-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.dates {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid #e4e4e4;
  padding-top: 10px;
  padding-bottom: 3px;
}

.arrow {
  margin: 0px, 7px;
}

.btn-booking {
  width: 100%;
  padding-top: 10px;
}

.price {
  border-bottom: 1px solid #e4e4e4;
  padding-top: 10px;
}


.total {
  border-bottom: 1px solid #e4e4e4;
  border-top: 1px solid #e4e4e4;
}

.accessories {
  font-style: italic;
}

.details-card {
  margin-top: 50px;
  margin-left: 15px;
  text-align: center;
  background-color: white;
  radius: 2%;
  width: 60vw;
  padding: 30px;
}

.bike-description {
  text-align: left;
  padding-right: 20px;
}

.owner-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 1px solid #e4e4e4;
  padding-left: 100px;
}

.upper-part {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
}

.name-owner {
  display: flex;
  justify-content: space-around;
}

.name-owner p {
  margin: 0px;
}

.show-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#show-address {
  border: 1px solid #e4e4e4;
  padding:5px;
}

.image-show {
  width: 50%;
  height: 40%;
}
