// .container-booking {
//   max-width: 900px;
//   margin: auto;
//   padding: 30px;
// }

.booking-content {
  margin-top: 50px;
  background-color: white;
  padding: 30px;
}

.booking-messages {
  opacity: .95;
}
