<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <i class="fas fa-bicycle logo"></i>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <%= link_to 'Louer mon vélo', new_bike_path, class: 'navbar-wagon-item navbar-wagon-link' %>
    <!-- <a href="" class="navbar-wagon-item navbar-wagon-link">Louer mon vélo</a> -->
    <a href="" class="navbar-wagon-item navbar-wagon-link">Mes réservations</a>

    <!-- Profile picture with dropdown list -->
    <% if user_signed_in? %>
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <%= cl_image_tag current_user.photo, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown"%>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li><a href="#">Profile</a></li>
            <li><%= link_to "Déconnexion", destroy_user_session_path, method: :delete%></li>
          </ul>
        </div>
      </div>
    <% else %>
      <%= link_to "Log in", new_user_session_path%>
    <% end %>
  </div>
</div>
