<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= asset_url("front-page-picture-2.jpg")%>);">
  <div class="content">
    <h1>Découvrez <span id="banner-typed-text"></span>en vélo</h1>
    <form action="/bikes" class="form-inline">
      <div class="form-group mx-sm-3 mb-2">
        <input name="city" class="form-control" id="bike_city" placeholder="Destination" style:"color: black">
      </div>
      <div class="form-group mx-sm-3 mb-2">
        <input type="date" name="start_date" class="form-control datepicker" value="<%= Time.now.strftime("%d/%m/%Y") %>" placeholder="Arrivée" id="inputPassword2">
      </div>
      <div class="form-group mx-sm-3 mb-2">
        <input type="date" name="end_date" class="form-control datepicker" value="<%= Time.now.strftime("%d/%m/%Y")%>" placeholder="Départ" id="inputPassword2">
      </div>
<!--       <div class="form-group">
        <label for="nombredevoyageurs"></label>
        <select class="form-control" name="personnes" id="exampleFormControlSelect1">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div> -->
      <button type="submit" class="btn btn-primary mb-2"><i class="fas fa-search"></i></button>
    </form>
  </div>
</div>
