.avatar-large {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.profile {
}

.avatar-extra {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.avatar-xlg {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.avatar-small {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
