.form-card {
  // margin-top: -200px;
  background-color: rgba(255,255,255,0.95);
  box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
  border-radius: 4px;
  padding: 30px;
  width: 800px;
  margin-top: 60px;
}
