.wrapper {
  background-size: cover;
  background-position: center;
  text-align: center;
  background-image: asset-url('wrapper-new.jpg');
  height: calc(100vh - 70px);
  width: 100vw, !important;
}

.margin-top {
  margin-top: 0px;
}

.wrapper-log-in {
  background-size: cover;
  background-position: center;
  text-align: center;
  background-image: asset-url('red_bike_wrapper2.jpg');
  height: calc(100vh - 70px);
  width: 100vw, !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 150px;
  padding-top: 100px;
}

.wrapper-show-bike {
  background-size: cover;
  background-position: center;
  text-align: center;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), asset-url('wrapper-show.jpg');
  height: calc(100vh - 70px);
  width: 100vw, !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 150px;
  padding-top: 100px;
}
