.wrapper {
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 10vh 50px;
  background-image: asset-url('bike_dark.jpg');
  height: 1000px;
}

.margin-top {
  margin-top: 0px;
}
